.App {
  text-align: center;
}

.logoCms {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 20px;
}

.logoCms img {
  width: 45px;
  height: 45px;
}

.iconEdit {
  font-size: 20px;
  color: #ff6b00 !important;
  margin-right: 10px;
}

.iconDelete {
  font-size: 20px;
  color: #ff0000 !important;
}